<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Animal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        {% if status %}
        <script>
            alert('{{ status }}');
            window.history.back();
        </script>
        {% endif %}
        <h1>Cadastro de saida de animal</h1>
        <form action="/animal_saida" method="post">
            <label for="idx_entrada">Peso na Entrada (kg):</label>
            <input type="number" step="1" id="idx_entrada" name="idx_entrada" value="250" required>

            <label for="cliente">Lote:</label>
            <select name="cliente" id="cliente">
                {% for cliente in cliente_opcoes %}
                <option value="{{ cliente }}">{{ cliente }}</option>
                {% endfor %}
            </select>

            <label for="data_saida">Data de Saida:</label>
            <input type="date" id="data_saida" name="data_saida" required>

            <label for="peso_saida">Peso de Saida:</label>
            <input type="number" step="1" id="peso_saida" name="peso_saida" value="450" required>

            <label for="valor_saida">Valor de Saida:</label>
            <input type="number" step="1" id="valor_saida" name="valor_saida" value="9" required>

            <div class="button-container">
                <button type="button" onclick="window.location.href='{{ url_for('index') }}'">Voltar</button>
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</body>

</html>
