<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de {{ 'Entrada' if mode == 'entrada' else 'Saída' }} de Animal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        {% if status %}
        <script>
            alert('{{ status }}');
            window.history.back();
        </script>
        {% endif %}

        {% if modo == 'entrada' %}
        <h1>Cadastro de Entrada de Animal</h1>
        <form action="{{ url_for('animal', modo=modo) }}" method="POST">
            <label for="lote">Lote:</label>
            <select name="lote" id="lote">
                {% for item in lote_opcoes %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>

            <label for="raca">Raça:</label>
            <select name="raca" id="raca">
                {% for item in raca_opcoes %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>

            <label for="data_nascimento">Data de Nascimento:</label>
            <input type="date" id="data_nascimento" name="data_nascimento" required>

            <label for="fornecedor">Fornecedor:</label>
            <select name="fornecedor" id="fornecedor">
                {% for item in fornecedor_opcoes %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>

            <label for="data_entrada">Data de Entrada:</label>
            <input type="date" id="data_entrada" name="data_entrada" required>

            <label for="peso_entrada">Peso na Entrada (kg):</label>
            <input type="number" step="1" id="peso_entrada" name="peso_entrada" value="250" required>

            <label for="valor_entrada">Valor na Entrada (R$):</label>
            <input type="number" step="0.1" id="valor_entrada" name="valor_entrada" value="8" required>

            <div class="button-container">
                <button type="button" onclick="window.location.href='{{ url_for('cadastros') }}'">Voltar</button>
                <button type="submit">Cadastrar</button>
            </div>
        </form>
        {% endif %}
        
        {% if modo == 'saida' %}
            <h1>Cadastro de Saída de Animal</h1>
            <form action="{{ url_for('animal', modo=modo) }}" method="post">
                <label for="idx_entrada">Peso na Entrada (kg):</label>
                <input type="number" step="1" id="idx_entrada" name="idx_entrada" value="250" required>

                <label for="cliente">Cliente:</label>
                <select name="cliente" id="cliente">
                    {% for cliente in cliente_opcoes %}
                    <option value="{{ cliente }}">{{ cliente }}</option>
                    {% endfor %}
                </select>

                <label for="data_saida">Data de Saída:</label>
                <input type="date" id="data_saida" name="data_saida" required>

                <label for="peso_saida">Peso de Saída (kg):</label>
                <input type="number" step="1" id="peso_saida" name="peso_saida" value="450" required>

                <label for="valor_saida">Valor de Saída (R$):</label>
                <input type="number" step="0.1" id="valor_saida" name="valor_saida" value="9" required>

                <div class="button-container">
                    <button type="button" onclick="window.location.href='{{ url_for('cadastros') }}'">Voltar</button>
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        {% endif %}
    </div>
</body>

</html>
