<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de {{ categoria|capitalize }} de Animais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="pagina-json-cadastro">
    <div class="container">

        {% if status %}
        <script>
            alert('{{ status }}');
        </script>
        {% endif %}

        <h1>📋 Cadastro de {{ categoria|capitalize }} de Animais</h1>

        <form action="{{ url_for('json_animal', categoria=categoria) }}" method="post">

            <label for="nome">Nome do {{ categoria }}:</label>
            <input type="text" id="nome" name="nome" placeholder="Ex: Angus, Lote A, Cliente X" required>

            <div class="button-container">
                <button type="button" onclick="window.location.href='{{ url_for('cadastros') }}'">⬅️ Voltar</button>
                <button type="submit">✅ Cadastrar</button>
            </div>
        </form>
    </div>

    <footer>
        <p>&copy; 2025 - Sistema de Gestão de Gado de Corte | 
        <a href="{{ url_for('tos') }}">Termos de Serviço</a></p>
    </footer>
</body>

</html>
