<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opções de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Gestão de Gado de Corte</h1>
    </header>

    <form action="{{ url_for('index') }}" method="post" class="nav">
        <button type="submit" id="page" name="page" value="inicio">Início</button>
        <button type="submit" id="page" name="page" value="cadastros">Cadastros</button>
        <button type="submit" id="page" name="page" value="relatorios">Relatórios</button>
        <!-- <button type="submit" id="page" name="page" value="estoque">Estoque</button>
        <button type="submit" id="page" name="page" value="financeiro">Financeiro</button> -->
    </form>

    <footer>
        &copy; 2025 - Sistema de Gestão de Gado de Corte | <a href="{{ url_for('tos') }}">Termos de Serviço</a>
    </footer>
</body>
</html>
