<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opções de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Escolha uma opção</h2>
        <form method="post" action="{{ url_for('index') }}">
            <button type="submit" name="acao" value="animal_entrada">Cadastro de Entrada de Animais</button>
            <!-- <button type="submit" name="acao" value="lote_animal">Cadastro de Lote de Animais</button> -->
        </form>
        <form action="{{ url_for('json_animal', categoria='lote') }}" method="get">
            <button type="submit">Cadastro de lote de Animais</button>
        </form>
        <form action="{{ url_for('json_animal', categoria='raca') }}" method="get">
            <button type="submit">Cadastro de raca de Animais</button>
        </form>
        <form action="{{ url_for('json_animal', categoria='fornecedor') }}" method="get">
            <button type="submit">Cadastro de fornecedor de Animais</button>
        </form>
    </div>
</body>

</html>
